<%= javascript_include_tag "application" %>
<%= "現在のuser確認用: #{current_user.name}"%>
<h1>Timeline</h1>

<div>
  <%= render partial: "form_ajax", locals: {user: current_user, tweet: @tweet} %>
  <br/>
</div>

<script>
  var submit = document.getElementById("submit");
  submit.addEventListener("click", function(){
    console.log("Event catched");
    createTweet();
  });
</script>

<ul id = "timeline_ul", class="list-group" >
  <% @tweets.each do |t| %>
    <% if t.enable_to_see?(current_user) then next end %>
    <%= render partial: "timeline", locals: {t: t}%>
  <% end %>
</ul>

<div id="add_elem" hidden>
  <img id ="add_img" width="20" height="20">
  <a id="add_username"></a><br/>
  <a id="add_reply">reply</a>
  ♡0
  <a id="add_like" rel="nofollow" data-method="post">like</a>
  <a id="add_destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">x</a>
</div>
