<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-brand">Sample_App</div>
  <div class="container">
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "log in", user_session_path %></li>
      </ul>
    </nav>
  </div>
</header>